<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href = "/">Home</a></br>
    <a href = "/cars"> Inventory</a>
    
    <h1>Editing <%= car.name %></h1>

<form action="/cars/<%=car._id%>?_method=PUT" method="POST">
    Make:<input type="text" name="make" value="<%= car.make %>"/></br>
    Model:<input type="text" name="model" value="<%= car.model %>"/></br>
    Year:<input type="number" name="year" value="<%= car.year %>"/></br>


    <input type = "submit" value = "Update <%= car.make%> - <%= car.model%>"
</form>
    
</body>
</html>